.container-site {
    top: 100px !important;
}


/*********
NAV INDEX
**********/


/*FORMATAÇÃO DE FONTE*/

.navbar-nav a {
    color: #fff !important;
    font-size: 15px;
    text-transform: uppercase;
}


/*FORMATAÇÃO NAV - LINKS ESPAÇOS*/

.nav-link {
    padding: .3rem 3rem;
}


/*FORMATAÇÃO NAV  ITEM - ALINHAMENTO*/

.navbar-nav {
    text-align: center;
}


/*FORMATAÇÃO NAV ITEM - HOVER*/

.navbar-light .navbar-nav .nav-item .navbar-link:focus,
.navbar-light .navbar-nav .nav-item .nav-link:hover {
    /* border-bottom: 1px solid #fff; */
    font-weight: bolder;
}


/*FORMATAÇÃO DE ALTURA*/

.w-100 {
    height: 120vh;
}

@media only screen and (max-width: 992px) {
    #conteudoNavbarSuportado,
    #conteudoNavbarSuportado_2 {
        background: #008F6B;
        height: 280px;
    }
    /*MENU HAMBURGUER*/
    .navbar-toggler,
    .navbar-toggler-icon {
        padding: 2px 5px;
        font-size: 25px;
    }
}


/*******
CAROUSEL
********/


/* ALTURA DO CAROUSEL PRINCIPAL */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    /*100% do tamanho e não repete*/
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}


/*ALTURA DE TEXTO*/

.carousel-caption {
    bottom: 50px;
}


/*CAROUSEL H5*/

.carousel-caption h5 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #008F6B;
    margin-bottom: 25px;
}


/**CAROUSEL P**/

.carousel-caption p {
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.9;
}


/**CAROUSEL h6**/

.carousel-caption h6 {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 22px;
    color: #363636;
}


/*BOTÃO CAROUSEL - COR E FORMATO*/

.carousel-caption a {
    background: #008F6B;
    padding: 10px 30px;
    display: inline-block;
    color: #f1e5be;
    margin-bottom: 30px;
    border: solid 1px #008F6B;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /* border-radius: 45px; */
    text-decoration: none;
}


/*BOTÃO CAROUSEL - COR E FORMATO - HOVER*/

.carousel-caption a:hover {
    background: #fff;
    color: #008F6B;
    text-decoration: none;
    border: solid 1px #008F6B;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}


/*ICONES DO CAROUSEL*/

#carouselExampleIndicators>a>.fas {
    color: #008F6B;
    font-size: 35px;
}


/****
SOBRE
*****/

#sobre {
    margin-top: 100px;
    margin-bottom: 100px;
}

#sobre>.col-md-12>h4 {
    color: #008F6B;
}

#sobre>.col-md-6>.card>h5 {
    color: #008F6B;
}

#sobre>.col-md-6>.card>.fab,
#sobre>.col-md-6>.card>.far,
#sobre>.col-md-6>.card>.fas {
    color: #696969;
    font-size: 60px;
    padding: 20px;
}

.card-folha {
    border-top-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*************
ESPECIALIDADES
**************/


/*TITULO H4*/

#especialidades>.col-md-12>h4 {
    color: #008F6B;
    margin-bottom: 30px;
}

#especialidades>.col-md-12>h5 {
    color: #696969;
}


/* #especialidades>.col-md-6>.card:hover,
                #especialidades>.col-lg-4>.card:hover {
                    background-color: #f1e5be;
                    text-transform: uppercase;
                } */

#especialidades>.col-md-6>.card>button,
#especialidades>.col-lg-4>.card>button {
    color: #008F6B;
    background-color: #fff;
    margin-top: 10px;
    font-weight: bold;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px #008F6B;
    width: 150px;
    align-self: center;
    /*ELE MESMO*/
}

#especialidades>.col-md-6>.card>button:hover,
#especialidades>.col-lg-4>.card>button:hover {
    /* border-bottom: 2px solid; */
    /* border-top: 2px solid; */
    display: flex;
    justify-content: center;
    background-color: #008F6B;
    color: #fff;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 150px;
    align-items: center;
}

#especialidades>.col-md-6>.card>.far,
#especialidades>.col-md-6>.card>.fas,
#especialidades>.col-md-6>.card>.fab,
#especialidades>.col-lg-4>.card>.far,
#especialidades>.col-lg-4>.card>.fas,
#especialidades>.col-lg-4>.card>.fab {
    color: #696969;
    font-size: 60px;
    padding: 30px;
}

#especialidades>.col-md-6>.card>h5,
#especialidades>.col-lg-4>.card>h5 {
    color: #008F6B;
}

#especialidades {
    margin-top: 150px;
    margin-bottom: 100px;
}


/********************************
 TITULO DE TIPOS DE ATENDIMENTOS
 ********************************/

#tipos_atendimentos {
    padding: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

#tipos_atendimentos>.col-md-12>h4 {
    color: #008F6B;
    margin-bottom: 30px;
}


/*TITULO DE TIPOS DE ATENDIMENTOS H6*/

#tipos_atendimentos>.col-md-12>h5 {
    color: #696969;
}


/*COLUNAS*/

#tipos_atendimentos>.col-md-4 {
    margin-bottom: 30px;
}


/*TITULO E ALINHAMENTO DE ATENDIMENTOS H6*/

#tipos_atendimentos>.col-md-4>ul>.h6 {
    margin-top: 50px;
    margin-left: 20px;
    color: #696969;
}


/*LISTA DE TIPOS DE ATENDIMENTOS*/

#tipos_atendimentos>.col-md-4>ul>li {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #696969;
}


/*****************
  PROFISSIONAIS
*****************/

#profissionais {
    margin-top: 150px;
    margin-bottom: 50px;
}


/*TITULO H4*/

#profissionais>.col-12>h4 {
    color: #008F6B;
    margin-bottom: 70px;
}

#profissionais>.col-lg-6 {
    margin-bottom: 50px;
}


/*FOTOS PROFISSIONAIS*/

#profissionais>.col-lg-6>.d-flex>img {
    height: 150px;
    border-radius: 80px;
}


/*NOMES DOS PROFISSIONAIS*/

#profissionais>.col-lg-6>.d-flex>div>h6 {
    margin: 3px;
    margin-left: 30px;
    color: #008F6B;
}


/*INFORMAÇÕES PROFISSIONAIS*/

#profissionais>.col-lg-6>.d-flex>div>p {
    margin: 3px;
    margin-left: 30px;
    color: #696969;
}


/*BOTÕES DOS PROFISSIONAIS*/

#profissionais>.col-lg-6>.d-flex>div>a {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #008F6B;
    color: #fff;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}


/*BOTÕES DOS PROFISSIONAIS: HOVER*/

#profissionais>.col-lg-6>.d-flex>div>a:hover {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px #008F6B;
    background-color: #fff;
    color: #008F6B;
    text-decoration: none;
}


/***********************
PROFISSIONAIS DESCRIÇÃO
************************/

#profissionais_descricao {
    margin-top: 150px;
    margin-bottom: 80px;
    padding: 20px;
}


/*PROFISSIONAIS DESCRIÇÃO H4*/

#profissionais_descricao>.col-md-6>h4 {
    color: #008F6B;
    padding-top: 30px;
}


/*PROFISSIONAIS BOTÕES - INSTAGRAM*/

#profissionais_descricao>.col-md-6>a {
    color: #fff;
    background-color: #008F6B;
    border: solid 1px #008F6B;
}

#profissionais_descricao>.col-md-6 {
    color: #696969;
    margin-bottom: 60px;
}

#profissionais_descricao>.col-md-6>img {
    width: 430px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
}


/************
 REEMBOLSO
************/

#reembolso {
    margin-top: 150px;
    margin-bottom: 100px;
}


/* TEXTO REEMBOLSO */

#reembolso>.row>.col-12>h4 {
    color: #008F6B;
    margin-bottom: 30px;
}

#reembolso>.row>.col-12>h5 {
    margin-bottom: 50px;
    color: #696969;
}

#reembolso>.row>.col-12>p {
    color: #696969;
}

#reembolso>.row>.col-md-6,
#reembolso>.row>.col-lg-4 {
    margin-bottom: 30px;
}


/*FONTE H6*/

#reembolso>.row>.col-md-6>.card>h6,
#reembolso>.row>.col-lg-4>.card>h6 {
    color: #696969;
    margin-bottom: 30px;
    font-size: 17px;
}


/*FONTE H5*/

#reembolso>.row>.col-md-6>.card>h5,
#reembolso>.row>.col-lg-4>.card>h5 {
    color: #008F6B;
}


/*FONTE P*/

#reembolso>.row>.col-md-6>.card>p,
#reembolso>.row>.col-lg-4>.card>p {
    color: #696969;
}


/**********************
 BOTÃO DE FALE CONOSCO
 **********************/

#reembolso>.row>.col-md-6>.card>a,
#reembolso>.row>.col-lg-4>.card>a {
    color: #008F6B;
    background-color: #fff;
    border: solid 1px #008F6B;
    width: 150px;
    align-self: center;
    font-weight: bold;
    text-decoration: none;
}


/*BOTÃO DE FALE CONOSCO:HOVER*/

#reembolso>.row>.col-md-6>.card>a:hover,
#reembolso>.row>.col-lg-4>.card>a:hover {
    color: #fff;
    background-color: #008F6B;
    text-decoration: none;
}


/*ICONES*/

#reembolso>.row>.col-md-6>.card>.far,
#reembolso>.row>.col-md-6>.card>.fas,
#reembolso>.row>.col-lg-4>.card>.far,
#reembolso>.row>.col-lg-4>.card>.fas {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #008F6B;
    font-size: 60px;
}


/************
CONTATO
************/

#contato {
    margin-top: 150px;
    margin-bottom: 100px;
    color: #696969;
}


/*CONTATOS*/

#contato>.col-12>h4 {
    color: #008F6B !important;
}

#contato_saude {
    margin-top: 40px;
    padding-left: 40px;
}


/*ALINAMENTO P*/

#contato_saude>p {
    margin-top: 20px;
}


/*BOTÕES DE REDES SOCIAIS*/

#contato_saude>a {
    border-radius: 25px;
    color: #fff;
    background-color: #008F6B;
    margin-bottom: 30px;
    margin-right: 5px;
}


/*BOTÕES DE REDES SOCIAIS: HOVER*/

#contato_saude>a:hover {
    color: #008F6B;
    background-color: #fff;
    border: 1px solid #008F6B;
}


/*TITULOS H5 E H6*/

#contato_saude>h5,
#contato_saude>h6 {
    color: #008F6B;
}


/*TITULO H6 FORM*/

#contato>.col-lg-7>form>h5 {
    color: #008F6B;
}


/**********
FORMULARIO
***********/

#form_contato {
    background-color: #fff;
}

#form_contato>.row>.col-md-12>button {
    background-color: #008F6B;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 150px;
    align-items: center;
}

#form_contato>.row>.col-md-12>button:hover {
    color: #008F6B;
    background-color: #fff;
    border: solid 1px #008F6B;
}


/****************
VAMOS CONVERSAR
****************/


/*TAMAMHO*/

#conversar {
    /* background-image: url(../img/vamos.jpg); */
    background-color: #008F6B;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 320px;
}

#conversar>.row>.col-12>h3 {
    padding-bottom: 20px;
}


/*BOTÃO */

#conversar>.row>.col-12>a {
    margin-left: 40px;
    /* border-radius: 25px; */
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border: solid 1px #fff;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: #fff;
}


/*BOTÃO HOVER */

#conversar>.row>.col-12>a:hover {
    color: #008F6B;
    background-color: #fff;
}


/******
FOOTER
******/

footer {
    background: #363636;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 15px;
}

footer img {
    width: 230px;
    margin-left: -20px;
    margin-top: -10px;
    margin-bottom: 15px;
}

#footer_acompanhe>ul>li>a,
#footer_acompanhe>ul>li>a {
    border: solid 1px #fff;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    text-align: end;
}

#footer_acompanhe>ul>li>a:hover,
#footer_acompanhe>ul>li>a:focus {
    background-color: #fff;
    text-decoration: none;
    color: #1C1C1C;
    text-decoration: none;
}

#footer_nav>ul>li>a {
    color: #fff;
    text-decoration: none;
}

#footer_nav>ul>li>a:hover {
    text-decoration: none;
    border-bottom: solid 2px #fff;
    color: #fff;
    font-weight: bold;
}


/********************
DIREITOS RESERVADOS
*********************/

#direitos_reservados {
    color: #fff;
}

#direitos_reservados>p {
    margin: 0px;
}


/* CAROUSEL COM SLICK */


/*BOTÕES DE REDES SOCIAIS*/


/* .leva-ao-topo {
            display: flex;
            position: fixed;
            bottom: 30px;
            right: 30px;
            width: 40px;
            height: 40px;
            border-radius: 25px;
            background-color: #fff;
            color: #008F6B;
            align-items: center;
            justify-content: center;
            border: solid 1px #008F6B;
            cursor: pointer;
        }
        
        .leva-ao-topo>i {
            color: #008F6B;
            font-size: 17px;
        } */