#header {
    background-image: url(../img/fundo.5.jpg);
    color: white;
    padding-bottom: 50px;
}

#navegacao>li>a:hover {
    border-bottom: 1px #fafafa solid;
}

#contato:hover {
    border-bottom: 0px !important;
    /* Prioriza */
}

#acesse>li>a:hover {
    border-bottom: 1px white solid;
}

h2,
h3 {
    background-color: #20b2ab9c;
    color: white;
}

#atuacao,
#reembolso,
#contatos,
#home {
    padding-top: 10px;
    padding-bottom: 50px;
}


/* #atuacao_desc {
    border: 2px solid #20b2ab9c;
} */

#citacao {
    padding: 30px;
}

#home,
#reembolso,
#contatos,
#cards {
    color: rgba(0, 0, 0, 0.671);
}

#footer,
#agende {
    color: white;
    background-color: #20B2AA;
}

#atuacao_desc>:hover,
#cards>:hover {
    color: #20B2AA;
}

#cards>.card>[class^=fas],
#cards>.card>[class^=far],
h4>[class^=fas],
h4>[class^=far],
h5>[class^=fas],
h5>[class^=far] {
    color: #20B2AA;
}

.leva-ao-topo {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #fff;
    color: white;
    align-items: center;
    justify-content: center;
    border: solid 1px #20B2AA;
    cursor: pointer;
}

.leva-ao-topo>i {
    color: #20B2AA;
    font-size: 17px;
}